.container, .text-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roquefort Trial', sans-serif;
    color: #379683;             
}

h2{
    font-size: 33px;
}

h3{
font-size: 27px;
margin-bottom: 30px;
}

.header{
    display: flex;
    justify-content: center;
    background-color: #379683;
    color: #08356b;
    font-family: 'THE AFFORD', sans-serif;
    font-size: 40px;                                 
}

body{
    margin: 0;
    /* background-color: #8ee4af; */
    background-color: #5cdb95;
}

span{
    align-self: center;
}

.options{
    gap: 20px;
    justify-content: center;
}

.scores{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    padding: 5px;
}

.score-boxes{
    display: flex;
    flex-direction: column;
    border: solid black;
    width:120px;
    height:40px;
}

.score-text{
    align-self: center;
}

.result-box{
    display: flex;
    flex-direction: column;
    border: solid black;
    width:250px;
    height:50px;
    margin-top: 50px;
}

#play-again-btn {
    margin-top: 35px;
}